{% extends 'CoreApp/architect4/architect4-layout.html' %}
{% load static %}

{% block page_title %}
    <title>About us - Amir 77 Insaat</title>
{% endblock %}

{% block page_css %}
    <link rel='stylesheet' href='{% static "HomeApp/css/custom.css" %}'>
{% endblock %}

{% block body_attributes %}
class="page-template-default page color-custom style-default button-stroke layout-full-width no-content-padding header-transparent minimalist-header-no sticky-header sticky-tb-color ab-hide subheader-both-center menu-line-below-80-1 menuo-right menuo-no-borders mobile-tb-hide mobile-side-slide mobile-mini-mr-ll tablet-sticky mobile-header-mini mobile-sticky be-reg-2105"
{% endblock %}

{% block header %}
<header id="Header">
    {% include 'HomeApp/architect4/components/header-topbar.html' %}
</header>
<div id="Subheader" style="padding:200px 0 140px">
    <div class="container">
        <div class="column one">
            <h1 class="title">About us</h1>
        </div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="content_wrapper clearfix">
    <div class="sections_group">
        <div class="entry-content">
            <div class="section mcb-section" style="padding-top:120px; padding-bottom:70px; background-color:#ffffff">
                <div class="section_wrapper mcb-section-inner">
                    <div class="wrap mcb-wrap one valign-top clearfix">
                        <div class="mcb-wrap-inner">
                            <div class="column mcb-column three-fourth column_column">
                                <div class="column_attr clearfix">
                                    <h2>Mauris rhoncus orci in imperdiet placerat. Vestibulum euismod nisl.</h2>
                                </div>
                            </div>
                            <div class="column mcb-column one column_divider">
                                <hr class="no_line" style="margin: 0 auto 40px;">
                            </div>
                        </div>
                    </div>
                    <div class="wrap mcb-wrap one-second valign-top clearfix" style="padding:0 1%">
                        <div class="mcb-wrap-inner">
                            <div class="column mcb-column one column_image">
                                <div class="image_frame image_item no_link scale-with-grid no_border">
                                    <div class="image_wrapper">
                                        <img class="scale-with-grid" src="{% static 'HomeApp/img/home_architect4_pic18.jpg' %}">
                                    </div>
                                </div>
                            </div>
                            <div class="column mcb-column one column_divider">
                                <hr class="no_line">
                            </div>
                            <div class="column mcb-column one column_column">
                                <div class="column_attr clearfix">
                                    <p>
                                        Curabitur sed iaculis dolor, non congue ligula. Maecenas imperdiet ante eget hendrerit posuere. Nunc urna libero, congue porta nibh a, semper feugiat sem. Sed auctor dui eleifend, scelerisque eros ut, pellentesque nibh. Nam lacinia suscipit accumsan.
                                        Donec sodales, neque vitae rutrum convallis, nulla tortor pharetra odio, in varius ante ante sed nisi.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="wrap mcb-wrap one-second valign-top clearfix" style="padding:0 1%">
                        <div class="mcb-wrap-inner">
                            <div class="column mcb-column one column_image">
                                <div class="image_frame image_item no_link scale-with-grid no_border">
                                    <div class="image_wrapper">
                                        <img class="scale-with-grid" src="{% static 'HomeApp/img/home_architect4_pic19.jpg' %}">
                                    </div>
                                </div>
                            </div>
                            <div class="column mcb-column one column_divider">
                                <hr class="no_line">
                            </div>
                            <div class="column mcb-column one column_column">
                                <div class="column_attr clearfix">
                                    <p>
                                        Fusce ut velit laoreet, tempus arcu eu, molestie tortor. Nam vel justo cursus, faucibus lorem eget, egestas eros. Maecenas eleifend erat at justo fringilla imperdiet id ac magna.
                                    </p>
                                    <p>
                                        Suspendisse vel facilisis odio, at ornare nibh. In malesuada, tortor eget sodales mollis, mauris lectus hendrerit purus.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="section mcb-section equal-height-wrap" style="padding-top:120px; padding-bottom:80px; background-color:#f5f5f5; background-image:url({% static 'HomeApp/img/home_architect4_pic4.jpg' %}); background-repeat:no-repeat; background-position:center top;">
                <div class="section_wrapper mcb-section-inner">
                    <div class="wrap mcb-wrap one-second valign-middle clearfix" style="padding:0 1%">
                        <div class="mcb-wrap-inner">
                            <div class="column mcb-column one column_image">
                                <div class="image_frame image_item no_link scale-with-grid aligncenter no_border">
                                    <div class="image_wrapper">
                                        <img class="scale-with-grid" src="{% static 'HomeApp/img/home_architect4_pic20.jpg' %}">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="wrap mcb-wrap one-second valign-middle clearfix" style="padding:0 1% 0 5%">
                        <div class="mcb-wrap-inner">
                            <div class="column mcb-column one column_column">
                                <div class="column_attr clearfix">
                                    <h2>Curabitur sed iaculis dolor, non congue ligula. Maecenas imperdiet ante eget hendrerit.</h2>
                                    <hr class="no_line" style="margin: 0 auto 15px;">
                                    <p class="big">
                                        Curabitur sed iaculis dolor, non congue ligula. Maecenas imperdiet ante eget hendrerit posuere. Nunc urna libero, congue porta nibh a, semper feugiat sem. Sed auctor dui eleifend, scelerisque eros ut, pellentesque nibh. Nam lacinia suscipit accumsan.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="section mcb-section" style="padding-top:120px; padding-bottom:70px; background-color:#ffffff">
                <div class="section_wrapper mcb-section-inner">
                    <div class="wrap mcb-wrap one valign-top clearfix">
                        <div class="mcb-wrap-inner">
                            <div class="column mcb-column one-third column_column">
                                <div class="column_attr clearfix" style="padding:0 20% 0 0;">
                                    <div class="image_frame image_item no_link scale-with-grid alignnone no_border">
                                        <div class="image_wrapper">
                                            <img class="scale-with-grid" src="{% static 'HomeApp/img/home_architect4_pic7.png' %}">
                                        </div>
                                    </div>
                                    <hr class="no_line" style="margin: 0 auto 20px;">
                                    <h4>Industrial<br/> Design</h4>
                                    <p>
                                        Mauris rhoncus orci in imperdiet placerat. Vestibulum euismod.
                                    </p>
                                </div>
                            </div>
                            <div class="column mcb-column two-third column_image">
                                <div class="image_frame image_item no_link scale-with-grid no_border">
                                    <div class="image_wrapper">
                                        <img class="scale-with-grid" src="{% static 'HomeApp/img/home_architect4_pic21.jpg' %}">
                                    </div>
                                </div>
                            </div>
                            <div class="column mcb-column one column_divider">
                                <hr class="no_line">
                            </div>
                            <div class="column mcb-column one-third column_column">
                                <div class="column_attr clearfix">
                                    <h2>Fusce ut velit laoreet, tempus arcu eu.</h2>
                                </div>
                            </div>
                            <div class="column mcb-column two-third column_column">
                                <div class="column_attr clearfix">
                                    <p>
                                        Vivamus in diam turpis. In condimentum maximus tristique. Maecenas non laoreet odio. Fusce lobortis porttitor purus, vel vestibulum libero pharetra vel. Pellentesque lorem augue, fermentum nec nibh et, fringilla sollicitudin orci. Integer pharetra magna
                                        non ante blandit lobortis. Sed mollis consequat eleifend. Aliquam consectetur orci eget dictum tristique. Aenean et sodales est, ut vestibulum lorem.
                                    </p>
                                    <p>
                                        Ut ultricies imperdiet sodales. Aliquam fringilla aliquam ex sit amet elementum. Proin bibendum sollicitudin feugiat. Curabitur ut egestas justo, vitae molestie ante. Integer magna purus, commodo in diam nec, pretium auctor sapien.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="section mcb-section" style="padding-top:100px; padding-bottom:60px; background-color:#f5f5f5;">
                <div class="section_wrapper mcb-section-inner">
                    <div class="wrap mcb-wrap one valign-top clearfix">
                        <div class="mcb-wrap-inner">
                            <div class="column mcb-column one column_column">
                                <div class="column_attr clearfix align_center">
                                    <h2>Ready to Start Your Project?</h2>
                                    <hr class="no_line" style="margin: 0 auto 15px;">
                                    <p class="big">
                                        Contact us today to discuss your project requirements and how we can help bring your vision to life.
                                    </p>
                                    <hr class="no_line" style="margin: 0 auto 15px;">
                                    <a class="button button_size_2 button_theme button_js" href="{% url 'HomeApp:contact' %}">
                                        <span class="button_label">Get in Touch</span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block footer %}
{% include 'HomeApp/architect4/components/footer.html' %}
{% endblock %}