{% extends 'CoreApp/architect4/architect4-layout.html' %}
{% load static %}
{% load i18n %}


{% block page_css %}
    <link rel='stylesheet' href='{% static "HomeApp/css/custom.css" %}'>
{% endblock %}


{% block header %}
<header id="Header">
    {% include 'HomeApp/architect4/components/header-topbar.html' %}
    <div class="mfn-main-slider" id="mfn-rev-slider">
        <div id="rev_slider_1_1_wrapper" class="rev_slider_wrapper fullwidthbanner-container" data-source="gallery" style="margin:0px auto;background:transparent;padding:0px;margin-top:0px;margin-bottom:0px;">
            <div id="rev_slider_1_1" class="rev_slider fullwidthabanner" style="display:none;" data-version="5.4.8">
                <ul>
                    <li data-index="rs-1" data-transition="fade" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off" data-easein="default" data-easeout="default" data-masterspeed="300" data-rotate="0" data-saveperformance="off" data-title="Slide"
                        data-param1 data-param2 data-param3 data-param4 data-param5 data-param6 data-param7 data-param8 data-param9 data-param10 data-description>
                        <img src="{% static 'HomeApp/img/home_architect4_pic1.jpg' %}" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" data-bgparallax="6" class="rev-slidebg" data-no-retina>
                        <div class="tp-caption tp-shape tp-shapewrapper tp-resizeme rs-parallaxlevel-3"
                            id="slide-1-layer-1" data-x="70" data-y="349" data-width="['50']" data-height="['2']" data-type="shape" data-responsive_offset="on" data-frames='[{"delay":10,"speed":300,"frame":"0","from":"opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
                            data-textAlign="['inherit','inherit','inherit','inherit']" data-paddingtop="[0,0,0,0]" data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]" style="z-index: 5;background-color:rgb(191,149,118);"></div>
                        <div class="tp-caption tp-resizeme rs-parallaxlevel-3" id="slide-1-layer-2" data-x="159" data-y="308" data-width="['auto']" data-height="['auto']" data-type="text" data-responsive_offset="on" data-frames='[{"delay":0,"speed":300,"frame":"0","from":"opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
                            data-textAlign="['inherit','inherit','inherit','inherit']" data-paddingtop="[0,0,0,0]" data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]" style="z-index: 6; white-space: nowrap; font-size: 80px; line-height: 80px; font-weight: 600; color: #fff; letter-spacing: 0px;font-family:Barlow Condensed;">
                            {% trans "Güvenilir ve Kaliteli" %}
                            <br/> {% trans "İnşaat Hizmetleri" %}
                        </div>
                        <div class="tp-caption tp-resizeme rs-parallaxlevel-3" id="slide-1-layer-3" data-x="163" data-y="502" data-width="['auto']" data-height="['auto']" data-type="text" data-responsive_offset="on" data-frames='[{"delay":0,"speed":300,"frame":"0","from":"opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
                            data-textAlign="['inherit','inherit','inherit','inherit']" data-paddingtop="[0,0,0,0]" data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]" style="z-index: 7; white-space: nowrap; font-size: 17px; line-height: 27px; font-weight: 400; color: #fff; letter-spacing: 0px;font-family:Maitree;">
                            {% trans "Beton dökme, kalıpçılık, demir donatı," %}
                            <br/> {% trans "duvar örme ve tavan işleri konularında" %}
                            <br/> {% trans "uzman ekibimizle hizmetinizdeyiz." %}
                        </div>
                    </li>
                </ul>
                <div class="tp-bannertimer tp-bottom" style="visibility: hidden !important;"></div>
            </div>
        </div>
    </div>
</header>
{% endblock %}

{% block body_attributes %}
class="home page-template-default page template-slider color-custom style-default button-stroke layout-full-width no-content-padding header-transparent minimalist-header-no sticky-header sticky-tb-color ab-hide subheader-both-center menu-line-below-80-1 menuo-right menuo-no-borders mobile-tb-hide mobile-side-slide mobile-mini-mr-ll tablet-sticky mobile-header-mini mobile-sticky be-reg-2105"
{% endblock %}

{% block content %}
<div class="content_wrapper clearfix">
    <div class="sections_group">
        <div class="entry-content">
            <div class="section mcb-section" style="padding-top:0px; padding-bottom:0px; background-color:">
                <div class="section_wrapper mcb-section-inner">
                    <div class="wrap mcb-wrap one-second valign-top clearfix" style="padding:90px 0 40px">
                        <div class="mcb-wrap-inner">
                            <div class="column mcb-column one column_column">
                                <div class="column_attr clearfix" style>
                                    <h2>{% trans "Kalite sadece standardımız değil, şirketimize yerleşmiş bir" %} <span style="color: #2c605a;">{% trans "tutum" %}</span></h2>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="wrap mcb-wrap one-second valign-top move-up clearfix" style="margin-top:-250px" data-mobile="no-up">
                        <div class="mcb-wrap-inner">
                            <div class="column mcb-column two-fifth column_placeholder">
                                <div class="placeholder">
                                    &nbsp;
                                </div>
                            </div>
                            <div class="column mcb-column three-fifth column_column">
                                <div class="column_attr clearfix align_center" style=" padding:30px; border: 1px solid rgba(83,109,106,0.48)">
                                    <div class="image_frame image_item no_link scale-with-grid alignnone no_border">
                                        <div class="image_wrapper"><img class="scale-with-grid" src="{% static 'HomeApp/img/home_architect4_pic8.png' %}">
                                        </div>
                                    </div>
                                    <hr class="no_line" style="margin: 0 auto 10px;">
                                    <p class="big" style="color: #d1d3d3;">
                                        {% trans "15 yılı aşkın sektör deneyimi ile güveninize layık olmaya devam ediyoruz." %}
                                    </p>
                                    <hr class="no_line" style="margin: 0 auto 10px;">
                                    <div class="image_frame image_item no_link scale-with-grid alignnone no_border">
                                        <div class="image_wrapper"><img class="scale-with-grid" src="{% static 'HomeApp/img/home_architect4_pic2.jpg' %}">
                                        </div>
                                    </div>
                                    <div class="hover_color align_center" style="background-color:#a2724e;" ontouchstart="this.classList.toggle('hover');">
                                        <div class="hover_color_bg" style="background-color:#c79b7a;border-width:0;">
                                            <a href="{% url 'HomeApp:about' %}" >
                                                <div class="hover_color_wrapper" style="padding:15px 10px;">
                                                    {% trans "Daha Fazla" %}
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="section mcb-section equal-height-wrap" style="padding-top:0px; padding-bottom:80px; background-color:">
                <div class="section_wrapper mcb-section-inner">
                    <div class="wrap mcb-wrap one-second valign-middle clearfix">
                        <div class="mcb-wrap-inner">
                            <div class="column mcb-column one column_image">
                                <div class="image_frame image_item no_link scale-with-grid aligncenter no_border">
                                    <div class="image_wrapper"><img class="scale-with-grid" src="{% static 'HomeApp/img/home_architect4_pic14.jpg' %}">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="wrap mcb-wrap one-second valign-middle clearfix" style="padding:0 0 0 5%">
                        <div class="mcb-wrap-inner">
                            <div class="column mcb-column one column_column">
                                <div class="column_attr clearfix" style>
                                    <p class="big">
                                        {% trans "Amir 77 İnşaat olarak, projelerinizi en iyi şekilde tamamlamak, kalite standartlarına uygun, dayanıklı ve estetik yapılar inşa etmek için çalışıyoruz." %}
                                    </p>
                                    <p>
                                        {% trans "İnşaat sektöründe uzman ekibimizle, beton dökme, kalıpçılık, demir donatı, duvar örme ve tavan işleri gibi birçok alanda profesyonel hizmet sunmaktayız. Güçlü referanslarımız ve yılların tecrübesi ile inşaat projelerinize en iyi çözümleri sunuyoruz." %}
                                    </p>
                                </div>
                            </div>
                            <div class="column mcb-column one-third column_column">
                                <div class="column_attr clearfix" style>
                                    <h1 class="themecolor">15+</h1>
                                    <h5>{% trans "Yıllık" %}
                                        <br/>{% trans "Deneyim" %}
                                    </h5>
                                </div>
                            </div>
                            <div class="column mcb-column one-third column_column">
                                <div class="column_attr clearfix" style>
                                    <h1 class="themecolor">100+</h1>
                                    <h5>{% trans "Başarılı" %}
                                        <br/>{% trans "Proje" %}
                                    </h5>
                                </div>
                            </div>
                            <div class="column mcb-column one-third column_column">
                                <div class="column_attr clearfix" style>
                                    <h1 class="themecolor">50+</h1>
                                    <h5>{% trans "Mutlu" %}
                                        <br/>{% trans "Müşteri" %}
                                    </h5>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="section mcb-section" style="padding-top:120px; padding-bottom:0px; background-color:#1c4540; background-image:url({% static 'HomeApp/img/home_architect4_pic15.jpg' %}); background-repeat:no-repeat; background-position:center bottom;">
                <div class="section_wrapper mcb-section-inner">
                    <div class="wrap mcb-wrap one valign-top clearfix">
                        <div class="mcb-wrap-inner">
                            <div class="column mcb-column one column_column">
                                <div class="column_attr clearfix align_center" style>
                                    <h2 style="color: #fff;">{% trans "Seçkin Projelerimiz" %}</h2>
                                </div>
                            </div>
                            <div class="column mcb-column one column_divider">
                                <hr class="no_line" style="margin: 0 auto 20px;">
                            </div>
                            <div class="column mcb-column one column_portfolio">
                                <div class="column_filters">
                                    <div class="portfolio_wrapper isotope_wrapper">
                                        <ul class="portfolio_group lm_wrapper isotope col-2 flat">
                                            <li class="portfolio-item isotope-item has-thumbnail">
                                                <div class="portfolio-item-fw-bg" style>
                                                    <div class="portfolio-item-fill"></div>
                                                    <div class="list_style_header">
                                                        <h3 class="entry-title"><a class="link" href="#">Integer blandit tortor sed</a></h3>
                                                        <div class="links_wrapper">
                                                            <a href="#" class="button button_js portfolio_prev_js"><span class="button_icon"><i data-feather="chevron-up"></i></span></a><a href="#" class="button button_js portfolio_next_js"><span class="button_icon"><i data-feather="chevron-down"></i></span></a>
                                                            <a
                                                                href="#" class="button button_left button_theme button_js"><span class="button_icon"><i data-feather="link"></i></span><span class="button_label">Read more</span></a>
                                                        </div>
                                                    </div>
                                                    <div class="image_frame scale-with-grid">
                                                        <div class="image_wrapper">
                                                            <a href="#">
                                                                <div class="mask"></div><img src="{% static 'HomeApp/img/home_architect4_pic22-960x700.jpg' %}" class="scale-with-grid wp-post-image" alt></a>
                                                            <div class="image_links">
                                                                <a href="{% static 'HomeApp/img/home_architect4_pic22-1200x700.jpg' %}" class="zoom" rel="prettyphoto"><i data-feather="search"></i></a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="desc">
                                                        <div class="title_wrapper">
                                                            <h5 class="entry-title"><a class="link" href="#">Integer blandit tortor sed</a></h5>
                                                            <div class="button-love">
                                                                <a href="#" class="mfn-love" data-id="56"><span class="icons-wrapper"><i data-feather="heart"></i></span><span class="label">0</span></a>
                                                            </div>
                                                        </div>
                                                        <div class="details-wrapper">
                                                            <dl>
                                                                <dt>
                                                                        Client
                                                                    </dt>
                                                                <dd>
                                                                    Muffin Group
                                                                </dd>
                                                                <dt>
                                                                        Date
                                                                    </dt>
                                                                <dd>
                                                                    November 9, 2018
                                                                </dd>
                                                                <dt>
                                                                        Website
                                                                    </dt>
                                                                <dd>
                                                                    <a target="_blank" href="#"><i data-feather="arrow-right"></i>View website</a>
                                                                </dd>
                                                            </dl>
                                                        </div>
                                                        <div class="desc-wrapper">
                                                            Lorem ipsum dolor sit amet enim. Etiam ullamcorper. Suspendisse a pellentesque dui, non felis. Maecenas malesuada elit lectus felis, malesuada ultricies. Curabitur et ligula. Ut molestie a, ultricies porta urna. Vestibulum commodo volutpat a, convallis
                                                            ac, laoreet enim. Phasellus fermentum in, dolor. Pellentesque facilisis. Nulla imperdiet sit amet magna. Vestibulum dapibus. Suspendisse a pellentesque dui, non felis.
                                                        </div>
                                                    </div>
                                                </div>
                                            </li>
                                            <li class="portfolio-item isotope-item has-thumbnail">
                                                <div class="portfolio-item-fw-bg" style>
                                                    <div class="portfolio-item-fill"></div>
                                                    <div class="list_style_header">
                                                        <h3 class="entry-title"><a class="link" href="#">Suspendisse tincidunt mi amet</a></h3>
                                                        <div class="links_wrapper">
                                                            <a href="#" class="button button_js portfolio_prev_js"><span class="button_icon"><i data-feather="chevron-up"></i></span></a><a href="#" class="button button_js portfolio_next_js"><span class="button_icon"><i data-feather="chevron-down"></i></span></a>
                                                            <a
                                                                href="#" class="button button_left button_theme button_js"><span class="button_icon"><i data-feather="link"></i></span><span class="button_label">Read more</span></a>
                                                        </div>
                                                    </div>
                                                    <div class="image_frame scale-with-grid">
                                                        <div class="image_wrapper">
                                                            <a href="#">
                                                                <div class="mask"></div><img src="{% static 'HomeApp/img/home_architect4_pic23-960x700.jpg' %}" class="scale-with-grid wp-post-image" alt></a>
                                                            <div class="image_links">
                                                                <a href="{% static 'HomeApp/img/home_architect4_pic23-1200x700.jpg' %}" class="zoom" rel="prettyphoto"><i data-feather="search"></i></a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="desc">
                                                        <div class="title_wrapper">
                                                            <h5 class="entry-title"><a class="link" href="#">Suspendisse tincidunt mi amet</a></h5>
                                                            <div class="button-love">
                                                                <a href="#" class="mfn-love" data-id="54"><span class="icons-wrapper"><i data-feather="heart"></i></span><span class="label">0</span></a>
                                                            </div>
                                                        </div>
                                                        <div class="details-wrapper">
                                                            <dl>
                                                                <dt>
                                                                        Date
                                                                    </dt>
                                                                <dd>
                                                                    November 9, 2018
                                                                </dd>
                                                            </dl>
                                                        </div>
                                                        <div class="desc-wrapper">
                                                            Quisque lorem tortor fringilla sed, vestibulum id, eleifend justo vel bibendum sapien massa ac turpis faucibus orci luctus non, consectetuer lobortis quis, varius in, purus. Integer ultrices posuere cubilia Curae, Nulla ipsum dolor lacus, suscipit adipiscing.
                                                            Cum sociis natoque penatibus et ultrices volutpat. Nullam wisi ultricies.
                                                        </div>
                                                    </div>
                                                </div>
                                            </li>
                                            <li class="portfolio-item isotope-item has-thumbnail">
                                                <div class="portfolio-item-fw-bg" style>
                                                    <div class="portfolio-item-fill"></div>
                                                    <div class="list_style_header">
                                                        <h3 class="entry-title"><a class="link" href="#">Duisvel sapien posuere metus</a></h3>
                                                        <div class="links_wrapper">
                                                            <a href="#" class="button button_js portfolio_prev_js"><span class="button_icon"><i data-feather="chevron-up"></i></span></a><a href="#" class="button button_js portfolio_next_js"><span class="button_icon"><i data-feather="chevron-down"></i></span></a>
                                                            <a
                                                                href="#" class="button button_left button_theme button_js"><span class="button_icon"><i data-feather="link"></i></span><span class="button_label">Read more</span></a>
                                                        </div>
                                                    </div>
                                                    <div class="image_frame scale-with-grid">
                                                        <div class="image_wrapper">
                                                            <a href="#">
                                                                <div class="mask"></div><img src="{% static 'HomeApp/img/home_architect4_pic24-960x700.jpg' %}" class="scale-with-grid wp-post-image" alt></a>
                                                            <div class="image_links">
                                                                <a href="{% static 'HomeApp/img/home_architect4_pic24-1200x700.jpg' %}" class="zoom" rel="prettyphoto"><i data-feather="search"></i></a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="desc">
                                                        <div class="title_wrapper">
                                                            <h5 class="entry-title"><a class="link" href="#">Duisvel sapien posuere metus</a></h5>
                                                            <div class="button-love">
                                                                <a href="#" class="mfn-love" data-id="52"><span class="icons-wrapper"><i data-feather="heart"></i></span><span class="label">0</span></a>
                                                            </div>
                                                        </div>
                                                        <div class="details-wrapper">
                                                            <dl>
                                                                <dt>
                                                                        Date
                                                                    </dt>
                                                                <dd>
                                                                    November 9, 2018
                                                                </dd>
                                                            </dl>
                                                        </div>
                                                        <div class="desc-wrapper">
                                                            Vivamus hendrerit nulla orci luctus nisl. Nam in metus. Etiam sapien sed augue. Praesent nec enim molestie augue eu odio. Suspendisse et fringilla mollis. Nunc eleifend pede dictum est, volutpat odio non enim consectetuer tincidunt lorem. Nam sed urna.
                                                            Nunc ultricies vitae, pede. Curabitur ultrices iaculis. In commodo odio at tortor. Integer aliquet molestie.
                                                        </div>
                                                    </div>
                                                </div>
                                            </li>
                                            <li class="portfolio-item isotope-item has-thumbnail">
                                                <div class="portfolio-item-fw-bg" style>
                                                    <div class="portfolio-item-fill"></div>
                                                    <div class="list_style_header">
                                                        <h3 class="entry-title"><a class="link" href="#">Morbi fermentum dolor posuere</a></h3>
                                                        <div class="links_wrapper">
                                                            <a href="#" class="button button_js portfolio_prev_js"><span class="button_icon"><i data-feather="chevron-up"></i></span></a><a href="#" class="button button_js portfolio_next_js"><span class="button_icon"><i data-feather="chevron-down"></i></span></a>
                                                            <a
                                                                href="#" class="button button_left button_theme button_js"><span class="button_icon"><i data-feather="link"></i></span><span class="button_label">Read more</span></a>
                                                        </div>
                                                    </div>
                                                    <div class="image_frame scale-with-grid">
                                                        <div class="image_wrapper">
                                                            <a href="#">
                                                                <div class="mask"></div><img src="{% static 'HomeApp/img/home_architect4_pic25-960x700.jpg' %}" class="scale-with-grid wp-post-image" alt></a>
                                                            <div class="image_links">
                                                                <a href="{% static 'HomeApp/img/home_architect4_pic25-1200x700.jpg' %}" class="zoom" rel="prettyphoto"><i data-feather="search"></i></a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="desc">
                                                        <div class="title_wrapper">
                                                            <h5 class="entry-title"><a class="link" href="#">Morbi fermentum dolor posuere</a></h5>
                                                            <div class="button-love">
                                                                <a href="#" class="mfn-love" data-id="50"><span class="icons-wrapper"><i data-feather="heart"></i></span><span class="label">0</span></a>
                                                            </div>
                                                        </div>
                                                        <div class="details-wrapper">
                                                            <dl>
                                                                <dt>
                                                                        Date
                                                                    </dt>
                                                                <dd>
                                                                    November 9, 2018
                                                                </dd>
                                                            </dl>
                                                        </div>
                                                        <div class="desc-wrapper">
                                                            Phasellus facilisis libero. Donec nonummy, mi. Nam placerat elementum quis, tellus. Curabitur non lacus. Aenean ac turpis augue, vel sodales turpis, et lectus. Curabitur lobortis mauris nec nunc interdum rhoncus, dui sit amet, orci. Morbi accumsan lectus
                                                            nec libero. Mauris in ligula tempor interdum wisi magna, sollicitudin orci. Nunc gravida. In hac habitasse platea dictumst.
                                                        </div>
                                                    </div>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="section mcb-section" style="padding-top:130px; padding-bottom:90px; background-color:#ffffff">
                <div class="section_wrapper mcb-section-inner">
                    <div class="wrap mcb-wrap one valign-top clearfix">
                        <div class="mcb-wrap-inner">
                            <div class="column mcb-column one column_column">
                                <div class="column_attr clearfix align_center" style>
                                    <h2>{% trans "Profesyonel İnşaat Hizmetlerimiz" %}</h2>
                                </div>
                            </div>
                            <div class="column mcb-column one column_divider">
                                <hr class="no_line" style="margin: 0 auto 30px;">
                            </div>
                        </div>
                    </div>
                    <div class="wrap mcb-wrap one-third valign-top clearfix" style="padding:0 5% 0 0">
                        <div class="mcb-wrap-inner">
                            <div class="column mcb-column one column_column">
                                <div class="column_attr clearfix" style>
                                    <div class="image_frame image_item no_link scale-with-grid alignnone no_border">
                                        <div class="image_wrapper"><img class="scale-with-grid" src="{% static 'HomeApp/img/home_architect4_pic7.png' %}">
                                        </div>
                                    </div>
                                    <hr class="no_line" style="margin: 0 auto 20px;">
                                    <h4>{% trans "Beton ve Kalıp" %}
                                        <br/>{% trans "İşleri" %}
                                    </h4>
                                    <p>
                                        {% trans "Profesyonel ekibimizle beton döküm ve kalıp işlerini en yüksek kalite standartlarında gerçekleştiriyoruz. Modern teknikler ve güvenilir çözümler sunuyoruz." %}
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="wrap mcb-wrap one-third valign-top clearfix" style="padding:0 5% 0 0">
                        <div class="mcb-wrap-inner">
                            <div class="column mcb-column one column_column">
                                <div class="column_attr clearfix" style>
                                    <div class="image_frame image_item no_link scale-with-grid alignnone no_border">
                                        <div class="image_wrapper"><img class="scale-with-grid" src="{% static 'HomeApp/img/home_architect4_pic6.png' %}">
                                        </div>
                                    </div>
                                    <hr class="no_line" style="margin: 0 auto 20px;">
                                    <h4>{% trans "Demir Donatı" %}
                                        <br/>{% trans "Sistemleri" %}
                                    </h4>
                                    <p>
                                        {% trans "Yapıların güvenliği için kritik öneme sahip demir donatı işlerini uzman kadromuzla titizlikle uyguluyoruz. Dayanıklı ve güvenli yapılar inşa ediyoruz." %}
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="wrap mcb-wrap one-third valign-top clearfix" style="padding:0 5% 0 0">
                        <div class="mcb-wrap-inner">
                            <div class="column mcb-column one column_column">
                                <div class="column_attr clearfix" style>
                                    <div class="image_frame image_item no_link scale-with-grid alignnone no_border">
                                        <div class="image_wrapper"><img class="scale-with-grid" src="{% static 'HomeApp/img/home_architect4_pic5.png' %}">
                                        </div>
                                    </div>
                                    <hr class="no_line" style="margin: 0 auto 20px;">
                                    <h4>{% trans "Duvar ve Tavan" %}
                                        <br/>{% trans "Uygulamaları" %}
                                    </h4>
                                    <p>
                                        {% trans "Duvar örme ve tavan işlerinde deneyimli ekibimizle kusursuz sonuçlar elde ediyoruz. Modern teknikler ve kaliteli malzemeler kullanarak projelerinizi tamamlıyoruz." %}
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="section mcb-section" style="padding-top:130px; padding-bottom:90px; background-color:#f5f5f5; background-image:url({% static 'HomeApp/img/home_architect4_pic4.jpg' %}); background-repeat:no-repeat; background-position:center top;">
                <div class="section_wrapper mcb-section-inner">
                    <div class="wrap mcb-wrap one valign-top clearfix">
                        <div class="mcb-wrap-inner">
                            <div class="column mcb-column one column_column">
                                <div class="column_attr clearfix align_center" style="padding: 40px 10%;">
                                    <h2 style="color: #2c605a; margin-bottom: 20px;">{% trans "İnşaat Sektöründe Güvenilir Çözüm Ortağınız" %}</h2>
                                    <p style="font-size: 20px; line-height: 1.6; color: #333;">
                                        {% trans "15 yıllık tecrübemiz, uzman kadromuz ve modern çözümlerimizle projelerinizi en yüksek kalite standartlarında hayata geçiriyoruz." %}
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
{% endblock %}


{% block footer %}
    {% include 'HomeApp/architect4/components/footer.html' %}
{% endblock %}



{% block page_js %}
{{ block.super }}
<script>
    // Initialize Feather Icons
    document.addEventListener('DOMContentLoaded', function() {
        feather.replace();
    });
    
    var revapi1, tpj;
    ( function() {
        if (!/loaded|interactive|complete/.test(document.readyState))
            document.addEventListener("DOMContentLoaded", onLoad);
        else
            onLoad();
        function onLoad() {
            if (tpj === undefined) {
                tpj = jQuery;
                if ("off" =="on")
                    tpj.noConflict();
            }
            if (tpj("#rev_slider_1_1").revolution == undefined) {
                revslider_showDoubleJqueryError("#rev_slider_1_1");
            } else {
                revapi1 = tpj("#rev_slider_1_1").show().revolution({
                    sliderType :"hero",
                    sliderLayout :"auto",
                    dottedOverlay :"none",
                    delay : 9000,
                    visibilityLevels : [1240, 1024, 778, 480],
                    gridwidth : 1080,
                    gridheight : 900,
                    lazyType :"none",
                    parallax : {
                        type :"scroll",
                        origo :"enterpoint",
                        speed : 400,
                        speedbg : 0,
                        speedls : 0,
                        levels : [5, 10, 15, 20, 25, 30, 35, 40, 45, 46, 47, 48, 49, 50, 51, 55],
                    },
                    shadow : 0,
                    spinner :"spinner3",
                    autoHeight :"off",
                    disableProgressBar :"on",
                    hideThumbsOnMobile :"off",
                    hideSliderAtLimit : 0,
                    hideCaptionAtLimit : 0,
                    hideAllCaptionAtLilmit : 0,
                    debugMode : false,
                    fallbacks : {
                        simplifyAll :"off",
                        disableFocusListener : false,
                    }
                });
            };
        };
    }());
</script>
{% endblock %}

