<div class="widgets_wrapper" style="padding:70px 0;">
    <div class="container">
        <div class="column one-fourth">
            <aside class="widget_text widget widget_custom_html">
                <h4>Localization</h4>
                <div class="textwidget custom-html-widget">
                    <p>
                        Envato,
                        <br/> Level 13, 2 Elizabeth St,
                        <br/> Istanbul
                        <br/> Turkey
                    </p>
                </div>
            </aside>
        </div>
        <div class="column one-fourth">
            <aside class="widget_text widget widget_custom_html">
                <h4>Social media</h4>
                <div class="textwidget custom-html-widget">
                    <ul>
                        <li style="margin-bottom: 10px;">
                            <i data-feather="twitter" style="width: 16px; height: 16px; {% if LANGUAGE_BIDI %}margin-left: 10px;{% else %}margin-right: 10px;{% endif %} color: #c79b7a;"></i><a href="#">Twitter</a>
                        </li>
                        <li style="margin-bottom: 10px;">
                            <i data-feather="instagram" style="width: 16px; height: 16px; {% if LANGUAGE_BIDI %}margin-left: 10px;{% else %}margin-right: 10px;{% endif %} color: #c79b7a;"></i><a href="#">Instagram</a>
                        </li>
                        <li style="margin-bottom: 10px;">
                            <i data-feather="twitter" style="width: 16px; height: 16px; {% if LANGUAGE_BIDI %}margin-left: 10px;{% else %}margin-right: 10px;{% endif %} color: #c79b7a;"></i><a href="#">Twitter</a>
                        </li>
                    </ul>
                </div>
            </aside>
        </div>
        <div class="column one-fourth">
            <aside class="widget_text widget widget_custom_html">
                <h4>Menu</h4>
                <div class="textwidget custom-html-widget">
                    <ul>
                        <li style="margin-bottom: 10px;">
                            <i data-feather="chevron-right" style="width: 16px; height: 16px; {% if LANGUAGE_BIDI %}margin-left: 10px;{% else %}margin-right: 10px;{% endif %} color: #c79b7a;"></i><a href="#">Lorem ipsum</a>
                        </li>
                        <li style="margin-bottom: 10px;">
                            <i data-feather="chevron-right" style="width: 16px; height: 16px; {% if LANGUAGE_BIDI %}margin-left: 10px;{% else %}margin-right: 10px;{% endif %} color: #c79b7a;"></i><a href="#">Praesent pretium</a>
                        </li>
                        <li style="margin-bottom: 10px;">
                            <i data-feather="chevron-right" style="width: 16px; height: 16px; {% if LANGUAGE_BIDI %}margin-left: 10px;{% else %}margin-right: 10px;{% endif %} color: #c79b7a;"></i><a href="#">Pellentesque</a>
                        </li>
                    </ul>
                </div>
            </aside>
        </div>
        <div class="column one-fourth">
            <aside class="widget_text widget widget_custom_html">
                <div class="textwidget custom-html-widget">
                    <div class="image_frame image_item no_link scale-with-grid alignnone no_border">
                        <div class="image_wrapper"><img class="scale-with-grid" src="content/architect4/images/architect.png">
                        </div>
                    </div>
                    <hr class="no_line" style="margin: 0 auto 20px;">
                    <h4>+98 (0) 912 345 6789</h4><a href="#"><span>amir77insaat@gmail.com</span></a>
                </div>
            </aside>
            <aside class="widget_text widget widget_custom_html">
                <div class="textwidget custom-html-widget"></div>
            </aside>
        </div>
    </div>
</div>
<div class="footer_copy">
    <div class="container">
        <div class="column one">
            <a id="back_to_top" class="button button_js" href style="display: flex; align-items: center; justify-content: center;"><i data-feather="chevron-up" style="width: 24px; height: 24px;"></i></a>
            <div class="copyright">
                Copyright © <a target="_blank" rel="nofollow" href="#">Amir 77 Insaat</a>
            </div>
        </div>
    </div>
</div>