{% load static %}
{% load i18n %}

<div id="Top_bar">
    <div class="container">
        <div class="column one">
            <div class="top_bar_left clearfix">
                <div class="logo">
                    <a id="logo" href="{% url 'HomeApp:home' %}" title="BeArchitect 4 - BeTheme" data-height="60" data-padding="40"><img class="logo-main scale-with-grid" src="{% static 'HomeApp/img/logo.png' %}" data-retina="{% static 'HomeApp/img/logo.png' %}" data-height="38" data-no-retina><img class="logo-sticky scale-with-grid" src="{% static 'HomeApp/img/logo.png' %}" data-retina="{% static 'HomeApp/img/logo.png' %}" data-height="38" data-no-retina><img class="logo-mobile scale-with-grid" src="{% static 'HomeApp/img/logo.png' %}" data-retina="{% static 'HomeApp/img/logo.png' %}" data-height="38" data-no-retina><img class="logo-mobile-sticky scale-with-grid" src="{% static 'HomeApp/img/logo.png' %}" data-retina="{% static 'HomeApp/img/logo.png' %}" data-height="38" data-no-retina></a>
                </div>
                <div class="menu_wrapper">
                    <nav id="menu">
                        <ul id="menu-main-menu" class="menu menu-main">
                            <li class="current-menu-item"><a href="{% url 'HomeApp:home' %}"><span>{% trans "Home" %}</span></a>
                            </li>
                            <li><a href="{% url 'HomeApp:about' %}"><span>{% trans "About us" %}</span></a>
                            </li>
                            <li><a href="{% url 'HomeApp:services' %}"><span>{% trans "Services" %}</span></a>
                            </li>
                            <li><a href="{% url 'HomeApp:contact' %}"><span>{% trans "Contact" %}</span></a>
                            </li>
                        </ul>
                    </nav>
                    <a class="responsive-menu-toggle" href="#"><i data-feather="menu"></i></a>
                </div>
            </div>
            <div class="top_bar_right">
                <div class="top_bar_right_wrapper">
                    {% include 'HomeApp/architect4/includes/language_selector.html' %}
                </div>
            </div>
        </div>
    </div>
</div>